#{extends 'admin.html' /} #{set title:'Panel administratora' /}

<div class="content-wrapper">
  <div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="@{AdminPanel.dashboard()}">Panel główny</a>
      </li>
      <li class="breadcrumb-item active">Informacje</li>
    </ol>
    <div class="row">
      <div class="col-12">
        <h1>Informacje</h1>
        <div class="container">
          <div class="row">
              %{
                i = 0;
             }%
          #{list items:informationsToSend, as:'arg'}
          
            <div class="col-sm-3 portfolio-item">
              <a href="#deleteModal${i}" data-toggle="modal">
                  <i class="fa fa-times pull-right"></i>
              </a>
                <h3 class="header-text">
                  ${arg?.getSubject()}  
                </h3>
                <p class="date">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                    ${arg?.getDate()}
                </p>
                <div class="information-text">
                    ${arg.getContent().raw()}  
                </div>
                <a href="#portfolioModal${i}" data-toggle="modal">
                  <button type="button" class="btn btn-info pull-right">Zobacz więcej</button>
                </a>
            </div>
            <div class="portfolio-modal modal fade" id="portfolioModal${i}" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="close-modal" data-dismiss="modal">
                      <div class="lr">
                        <div class="rl"></div>
                      </div>
                    </div>
                    <div class="container">
                      <div class="row">
                        <div class="col-lg-8 mx-auto">
                          <div class="modal-body">
                            <h2>${arg.getSubject()}</h2>
                            <hr class="star-primary">
                            <img class="img-fluid img-centered" src="img/portfolio/circus.png" alt="">
                            <div class="information-text">
                            ${arg.getContent().raw()}
                          </div>
                            <ul class="list-inline item-details">
                              <li>Autor:
                                <strong>
                                  <p>${arg.getProfileById(arg.getUserId()).getFirstname()} ${arg.getProfileById(arg.getUserId()).getLastname()}</p>
                                </strong>
                              </li>
                              <li>Data:
                                <strong>
                                    ${arg.getDate().raw()}
                                </strong>
                              </li>
                            </ul>
                            <button class="btn btn-success" type="button" data-dismiss="modal">
                              <i class="fa fa-times"></i>
                              Close</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Delete Modal-->
              <div class="modal fade" id="deleteModal${i}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Usuwanie artykułu</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">×</span>
                        </button>
                      </div>
                      <div class="modal-body">Czy napewno chcesz usunąć artykuł ?</div>
                      <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Nie</button>
                        <a class="btn btn-primary" href="@{AdminPanel.deleteInformation(arg.getId())}">Tak</a>
                      </div>
                    </div>
                  </div>
                </div>
            %{
              i++;
           }%
          #{/list}
      </div>
      </div>
      %{
        i = 0;
     }%
      #{list items:informationsToSend, as:'arg'}
     
        
            %{
              i++;
           }%
          #{/list}
        #{ifErrors}
        <span class="error">Wypełnij poprawnie formularz</span>
        #{/ifErrors}
        <div class="col-lg-12">
          #{form @AdminPanel.saveInformation(), id:'information-form' }
          <div class="input_fields_wrap">
              <div class="form-group">
                <label for="toField1">Tytuł informacji: </label>
                <input required id="toField1" type="text" name="data.subject" value="${params['data.subject']}" class="#{errorClass 'data' /} form-control"
                  placeholder="Do" />
              </div>
              <div class="form-group">
                <label for="description1">Treść informacji: </label>
                <textarea name="data.content" value="${params['data.content']}"></textarea>
              </div>
          </div>
          <div class="form-group btn-margin-top">
              <div class="row">
                <div class="col-sm-8"></div>
                  <div class="col-sm-4">
                      <input type="submit" name="information-form" id="information-form" tabindex="4" class="form-control btn btn-save" value="Zapisz">
                  </div>
              </div>
          </div>
          #{/}
        </div>
      </div>
    </div>
  </div>
  
  #{include 'admin-footer.html' /} #{get 'admin-footer' /}
  #{set 'customScripts'}
  <script>
    
            CKEDITOR.replace( 'data.content' );
            
            
          
  </script> 
  #{/set}
</div>